<!DOCTYPE html>
<html>
<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/vis-network.min.css">
  <link rel="stylesheet" href="/styles/vis.css">
  <!--STYLES END-->

  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/dcvis.js"></script>
  <script src="/js/vis-network.min.js"></script>
  <script src="/js/vis.js"></script>
  <script src="/js/Chart.js"></script>
  <script>
    function toggleMenu(id) {
      let submenus = document.getElementsByClassName('sub-action-bar-div');
      for(let i=0; i < submenus.length; i++) {
        submenus[i].style.display = "none";
      }
      let submenu = document.getElementById(id);
      submenu.style.display = "block";
    }
  </script>
</head>

<body>
<div class="default-page">
  <div class="header">
    <div class="current-page">Home</div>
  </div>
  <div class="side-bar">
    <ul class="action-bar">
      <li class="action-bar-list"><b>C3 Sim</b></li>
      <li class="action-bar-list"><a href="/">Home</a></li>
      <li class="action-bar-list"><a onclick=toggleMenu('app-sub-list'); href="#">Application Developer</a></li>
      <div class="sub-action-bar-div" id="app-sub-list">
        <ul class="sub-action-bar">
          <li class="sub-action-bar-list"><a href="/app/list">Applications</a></li>
          <li class="sub-action-bar-list"><a href="/stack/list">Repository</a></li>
        </ul>
      </div>
      <li class="action-bar-list"><a onclick=toggleMenu('ops-sub-list'); href="#">Operations Manager</a></li>
      <div class="sub-action-bar-div" id="ops-sub-list">
        <ul class="sub-action-bar">
          <li class="sub-action-bar-list"><a href="/dc/show">Data Center</a></li>
          <li class="sub-action-bar-list"><a href="/hardware/show">Hardware</a></li>
          <li class="sub-action-bar-list"><a href="/policy/list">Policy</a></li>
        </ul>
      </div>
      <li class="action-bar-list"><a onclick=toggleMenu('stack-sub-list'); href="#">Stack Developer</a></li>
      <div class="sub-action-bar-div" id="stack-sub-list">
        <ul class="sub-action-bar">
          <li class="sub-action-bar-list"><a href="/env/show">Environment</a></li>
          <li class="sub-action-bar-list"><a href="/repo/show">Repository</a></li>
          <li class="sub-action-bar-list"><a href="/services/list">Services</a></li>
          <li class="sub-action-bar-list"><a href="/stack/list">Stacks</a></li>
        </ul>
      </div>
    </ul>
  </div>
  </ul>
</div>
<div class="work-area">
  <%- body %>
</div>
</div>

</body>
</html>
