<table>
  <a href="stack/home">
    <tr>
      <td><a href="stack/home"><img src="images/Actor.gif"></a></td>
    </tr>
    <tr>
      <td><a href="stack/home">Stack Developer</a></td>
    </tr>
  </a>
</table>
