.state-Initializing {
  padding: 5px;
  margin: 5px;
  color: black;
  background: #66ffff;
  a {
    color: black;
    text-decoration: none
  }
}

.resourceIndicator {
  height: 25px;
  background: white;
  color: black;
  position: relative
}

.resourceIndicator p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.resource-Provising {
  padding: 2px;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: yellow;
  background: yellow;
  width: 25px;
  height: 25px;
  float: left;
  color: black;
}

.resource-Init {
  padding: 2px;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  background: gray;
  color: black;
  width: 25px;
  height: 25px;
  float: left;
}

.resource-Ready {
  padding: 2px;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgreen;
  background: lightgreen;
  color: black;
  width: 25px;
  height: 25px;
  float: left;
}

.state-Stopped {
  padding: 5px;
  margin: 5px;
  color: black;
  background: #bbbbbb;
  a {
    color: black;
    text-decoration: none
  }
}

.state-Running {
  padding: 5px;
  margin: 5px;
  color: black;
  background: #77ff77;
  a {
    color: black;
    text-decoration: none
  }
}

.state-Error {
  padding: 5px;
  margin: 5px;
  background: #ff7777;
  a {
    color: white;
    text-decoration: none
  }
}

.state-Stopping {
  padding: 5px;
  margin: 5px;
  background: #ffff88;
  a {
    color: black;
    text-decoration: none
  }
}

.state-Pause {
  padding: 5px;
  margin: 5px;
  background: #ffaa88;
  a {
    color: black;
    text-decoration: none
  }
}

.state-Deploying {
  padding: 5px;
  margin: 5px;
  background: #00aaff;
  a {
    color: white;
    text-decoration: none
  }
}

.fired-false {
  padding: 5px;
  margin: 5px;
  background: #cccccc;
  a {
    color: #0000aa;
    text-decoration: none
  }
}

.fired-true {
  padding: 5px;
  margin: 5px;
  background: #77ff77;
  a {
    color: #0000aa;
    text-decoration: none
  }
}

.reserve-Confirmed {
  padding: 1px;
  margin: 1px;
  color: white;
  background: #00aa;
  a {
    color: black;
    text-decoration: none
  }
}

.reserve-Rejected {
  padding: 1px;
  margin: 1px;
  color: white;
  background: #aa0000;
  a {
    color: black;
    text-decoration: none
  }
}

.reserve-Created {
  padding: 1px;
  margin: 1px;
  color: black;
  background: #00aa00;
  a {
    color: black;
    text-decoration: none
  }
}
