<html>
<head>
  <title>C3</title>

  <script type='text/javascript' src="/dependencies/sails.io.js"></script>

  <style>
    body {
      font: 12pt arial;
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: lightblue;
      color: black
    }

    .side-bar {
      position: absolute;
      top: 30px;
      left: 0px;
      width: 200px;
      height: 100%;
      background: lightblue;
      color: black;
    }

    .work-area {
      position: absolute;
      top: 30px;
      left: 200px;
      width: 100%;
      height: 100%;
      background: lightgray;
    }

    .gadget {
      margin: 30px;
      padding: 2px 2px 2px 2px;
      background: #777777;
      color: black;
      float: left;
      width: 250px;
    }

    .gadget-header {
      padding: 5px;
      position: relative;
      top: 0px;
      left: 0px;
      height: 30px;
      background: lightseagreen;

    }

    .gadget-body {
      background: white;
      padding: 5px;
      top: 30px;
      left: 0px;
      height: 250px;
    }
  </style>
</head>


<div class="default-page">
  <div class="header">
    C3
  </div>
  <div class="side-bar">
    <h3>Application Developer</h3>
    <h3>Operations Manager</h3>
    <h3>Stack Developer</h3>
  </div>
  <div class="work-area">
    <div class="gadget">
      <div class="gadget-header">Applications</div>
      <div class="gadget-body">
        Application: 12
      </div>
    </div>
    <div class="gadget">
      <div class="gadget-header">Stacks</div>
      <div class="gadget-body">
        Stacks: 12
      </div>
    </div>
    <div class="gadget">
      <div class="gadget-header">Environments</div>
      <div class="gadget-body">
        Local: 12
        Development: 12
        Test: 10
        Production: 8
      </div>
    </div>
    <div class="gadget">
      <div class="gadget-header">Clouds</div>
      <div class="gadget-body">
        Cloud 1: 12
        Cloud 2: 12
      </div>
    </div>
    <div class="gadget">
      <div class="gadget-header">Events</div>
      <div class="gadget-body">
        Event 1: 12
        Event 2: 12
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function initialize() {
      io.socket.get('/dc/metrics?mode=json', function (body, response) {
        console.log(body);
      });
  }
  initialize();
</script>
</html>
