<div class="gadget">
  <div class="gadget-header">Applications <span style="float:right"><a href="/app/list">All</a></span></div>
  <div class="gadget-body" id="apps-metrics">
    Application: 12
  </div>
</div>
<div class="gadget">
  <div class="gadget-header">Stacks <span style="float:right"><a href="/stack/list">All</a></span></div>
  <div class="gadget-body" id="stacks-metrics">
    Stacks: 12
  </div>
</div>
<div class="gadget">
  <div class="gadget-header">Environments <span style="float:right"><a href="/env/list">All</a></span></div>
  <div class="gadget-body" id="envs-metrics">
    Local: 12
    Development: 12
    Test: 10
    Production: 8
  </div>
</div>
<div class="gadget">
  <div class="gadget-header">Clouds <span style="float:right"><a href="/cloud/list">All</a></span></div>
  <div class="gadget-body" id="cloud-metrics">
    Cloud 1: 12
    Cloud 2: 12
  </div>
</div>
<div class="gadget">
  <div class="gadget-header">Events <span style="float:right"><a href="/events/list">All</a></span></div>
  <div class="gadget-body" id="event-metrics">
    Event 1: 12
    Event 2: 12
  </div>
</div>
<div class="gadget">
  <div class="gadget-header">Policies <span style="float:right"><a href="/policy/list">All</a></span></div>
  <div class="gadget-body" id="policy-metrics">
    Policies
  </div>
</div>

<%- partial("../hardware/_gauge", {type:'compute', title:'Compute', cloud:''}); %>
<%- partial("../hardware/_gauge", {type:'storage', title:'Storage', cloud:''}); %>
<%- partial("../hardware/_gauge", {type:'network', title:'Network', cloud:''}); %>

<script type="text/javascript">
  function initialize() {
    io.socket.get('/dc/metrics?mode=json', function (body, response) {
      let appDiv = document.getElementById('apps-metrics');
      let iHTML = "<table>";
      iHTML += "<tr><td><a href='/app/list'>Application</a></td><td>" + body.apps + "</td>";
      iHTML += "<tr><td><a href='/instance/list'>App Instances</a></td><td>" + body.appInstances + "</td>";
      iHTML += "</table>";
      appDiv.innerHTML = iHTML;

      let serviceDiv = document.getElementById('stacks-metrics');
      iHTML = "<table><tr><td align='right'><b>Stacks</b></td><td align='left'>" + body.stacks + "</td></tr>";
      iHTML += "<tr><td align='right'><b>Services</b></td><td align='left'>" + body.services + "</td></tr>";
      iHTML += "<tr><td align='right'><b>Instances</b></td><td align='left'>" + body.instances + "</td></tr>";
      iHTML += "</table>";
      serviceDiv.innerHTML = iHTML;

      let envDiv = document.getElementById('envs-metrics');
      iHTML = "<table>";
      for (let index in body.envs) {
        iHTML += "<tr><td align='right'><a href='/env/get?id=" + body.envs[index].id + "'>" + body.envs[index].name + "</a></td>";
        iHTML += "</tr>";
      }
      iHTML += "</table>";
      envDiv.innerHTML = iHTML;

      let cloudDiv = document.getElementById('cloud-metrics');
      iHTML = "<table>";
      for (let index in body.clouds) {
        iHTML += "<tr><td align='right'><a href='/cloud/get?id=" + body.clouds[index].id + "'>" + body.clouds[index].name + "</a></td><td align='left'>" + body.clouds[index].type + "</td></tr>";
      }
      iHTML += "</table>";
      cloudDiv.innerHTML = iHTML;

      let policyDiv = document.getElementById('policy-metrics');
      iHTML = "<table width='100%'>";
      for (let index in body.policies) {
        iHTML += "<tr class='policy-" + body.policies[index].state + "'><td align='right' ><a href='policy/get?id=" + body.policies[index].id + "'>" + body.policies[index].name + "</a></td>";
        iHTML += "<td align='left'>" + body.policies[index].state + "</td>";
        iHTML += "</tr>";
      }
      iHTML += "</table>";
      policyDiv.innerHTML = iHTML;

      let eventDiv = document.getElementById('event-metrics');
      iHTML = "<table>";
      for (let index in body.events) {
        iHTML += "<tr><td align='right'>" + body.events[index].name + "</td>";
        iHTML += "<td align='left'>" + body.events[index].value + "</td>";
        iHTML += "</tr>";
      }
      iHTML += "</table>";
      eventDiv.innerHTML = iHTML;

    });
  }


  window.addEventListener("load", initialize());

</script>
